.about-wrapper {
    padding: 40px;
}

.about-wrapper h2 {
    color: black;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.about-wrapper h3 {
    
    color: black;
}
.about-wrapper p {
    color: black;
    text-align: justify;
}