.Officials-wrapper {
    padding: 20px;
    margin: 0px;
    color: black;

}


.Officials-wrapper h3  {
    color: black;
}
.Officials-wrapper p {
    color: black;
    text-align: center;
}

.profile-pic{
    width: 200px;
    height: 150px;
}